@import '../../../dashboard/dashboardPageStyle.scss';

@mixin editActivityIcons($bgColor, $color, $hoverColor) {
    transition: background-color 0.2s;
    font-size: 50px;
    background-color: $bgColor;
    padding: 10px;
    border-radius: 50px;
    color:$color;
    margin: 0 20px;
    cursor: pointer;
    &:hover {
        color: white;
        background-color: $hoverColor;
        transition: background-color 0.2s;
    }
}

@mixin editActivityLabels($color) {
    font-family: $poppins;
    font-size: 14px;
    color: $color;
}

@mixin editBodyTextBase($bgColor, $color, $boxShadow, $outline) {
    width: 80%;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    height: 200px;
    border: none;
    margin-bottom: 30px;
    font-family: $poppins;
    color: $color;
    resize: none;
    background-color: $bgColor;
    box-shadow: $boxShadow;
    &:focus {
        outline: $outline;
        z-index: 1;
    }
}

@mixin editButtons($bgColor, $fontColor, $bgHover, $fontHover) {
    background-color: $bgColor;
    color: $fontColor;
    margin: 0 10px;
    border: none;
    padding: 15px;
    width: 130px;
    border-radius: 25px;
    font-family: $poppins;
    cursor: pointer;
    &:hover {
        background-color: $bgHover;
        color: $fontHover;
        transition: background-color 0.2s;
        
    }
}

@mixin editTitleBase($bgColor, $color, $boxShadow, $outline) {
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 50px;
    font-family: $poppins;
    color: $color;
    background-color: $bgColor;
    box-shadow: $boxShadow;
    &:focus {
        outline: $outline;
        z-index: 1;
    }
}

.editActivityLabelsActive {
    @include editActivityLabels(#9976bd)
}

.editActivityLabelsInactive {
    @include editActivityLabels(#a18fb3)
}

#editActivitiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.editActivityButtons {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#editActivitiesIconsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.editActivitySelected {
    @include editActivityIcons(#9976bd, white, #9976bd);
}

.editActivitySelectedDark {
    @include editActivityIcons(#b47679, white, #b47679);
}

.editActivityUnselected {
    @include editActivityIcons(#d9cae9, white, #9976bd);
}

.editActivityUnselectedDark {
    @include editActivityIcons(#7b6d77, #bea7a7, #b47679);
}

#editBodyText {
    @include editBodyTextBase(#ffffffa3, #735599, 0px 0px 70px 15px #e0d1ed47, 1.5px #d9cae9 solid);
}

#editBodyTextDark {
    @include editBodyTextBase(#302f36, white, 0px 0px 70px 15px #ae8ea147, 1.5px #8c747c solid);
}

.editLabels {
    font-family: $poppins;
    color: #856ca0;
    font-size: 30px;
}

.editLabelsDark {
    font-family: $poppins;
    color: #ffb7b7;
    font-size: 30px;
}

#editMoodContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#editMoodIcon {
    width: 400px;
}

#editTitle {
    @include editTitleBase(#ffffffa3, #735599, 0px 0px 70px 15px #e0d1ed47, 1.5px #d9cae9 solid);
}

#editTitleDark {
    @include editTitleBase(#302f36, white, 0px 0px 70px 15px #ae8ea147, 1.5px #8c747c solid);
}

#saveEditButton {
    @include editButtons(#a68bb5, white, #735187, white);
}

#saveEditButtonDark {
    @include editButtons(#b58b91, white, #a66868, white);
}

#cancelEditButton {
    @include editButtons(#ede3cd, #c1983b, #ebd3a1, #af7b05)
}