@import '../../../dashboard/dashboardPageStyle.scss';

@mixin editActivityIcons($bgColor) {
    transition: background-color 0.2s;
    font-size: 50px;
    background-color: $bgColor;
    padding: 10px;
    border-radius: 50px;
    color: white;
    margin: 0 20px;
    cursor: pointer;
    &:hover {
        background-color: #9976bd;
        transition: background-color 0.2s;
    }
}

@mixin editActivityLabels($color) {
    font-family: $poppins;
    font-size: 14px;
    color: $color;
}

@mixin editButtons($bgColor, $fontColor, $bgHover, $fontHover) {
    background-color: $bgColor;
    color: $fontColor;
    margin: 0 10px;
    border: none;
    padding: 15px;
    width: 130px;
    border-radius: 25px;
    font-family: $poppins;
    cursor: pointer;
    &:hover {
        background-color: $bgHover;
        color: $fontHover;
        transition: background-color 0.2s;
        
    }
}

.editActivityLabelsActive {
    @include editActivityLabels(#9976bd)
}

.editActivityLabelsInactive {
    @include editActivityLabels(#a18fb3)
}

#editActivitiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.editActivityButtons {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#editActivitiesIconsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.editActivitySelected {
    @include editActivityIcons(#9976bd)
}

.editActivityUnselected {
    @include editActivityIcons(#d9cae9)
}

#editBodyText {
    width: 80%;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    height: 200px;
    border: none;
    margin-bottom: 30px;
    font-family: $poppins;
    color: #735599;
    resize: none;
    background-color: #ffffffa3;
    box-shadow: 0px 0px 70px 15px #e0d1ed47;
    &:focus {
        outline: 1.5px #d9cae9 solid;
        z-index: 1;
    }
}

.editLabels {
    font-family: $poppins;
    color: #856ca0;
    font-size: 30px;
}

#editMoodContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#editMoodIcon {
    width: 400px;
}

#editTitle {
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 50px;
    font-family: $poppins;
    color: #735599;
    background-color: #ffffffa3;
    box-shadow: 0px 0px 70px 15px #e0d1ed47;
    &:focus {
        outline: 1.5px #d9cae9 solid;
        z-index: 1;
    }
}

#saveEditButton {
    @include editButtons(#a68bb5, white, #735187, white);
}

#cancelEditButton {
    @include editButtons(#ede3cd, #c1983b, #ebd3a1, #af7b05)
}