@import '../../pages/dashboard/dashboardPageStyle.scss';

#registerContainer {
    @include fadeInUpAnimation();
}

#registerTitle {
    font-family: $poppins;
    color: #8e79b7;
    margin-bottom: 0;
}

#registerSubtitle {
    font-size: 16px;
    color: #8b88ab;
    font-family: $poppins;
    font-weight: 300;
    margin-top: 0;
}