@mixin navIcons() {
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    fill: #36264a;
    font-size: 35px;
    cursor: pointer;
    &:hover {
        fill: #9a74bb;
    }
}

#calendarIcon {
    @include navIcons();
    margin-top: 40px;
}

#navBarContainer {
    display: flex;
    flex-direction: column;
}

#navButtonsContainer {
    padding: 0;
    margin-top: 40px;
    background-color: transparent;
    border: none;
}

#postsIcon {
    @include navIcons();
}

#settingsIcon {
    @include navIcons();
    margin-top: 40px;
}

/* Viewports under 580px wide */
@media screen and (max-width: 580px) {
    #postsIcon {
        margin-right: 30px;
    }

    #calendarIcon {
        margin-right: 30px;
    }
}