$lavender: #d2ceee;
$manrope: 'Manrope', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$poppins: 'Poppins', sans-serif;

/* Animations */
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@mixin fadeInUpAnimation() {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-image: url('../../images/dashboardBackground.png');
    background-repeat: repeat-y;
    background-size: cover;
}

#createButton {
    opacity: 80%;
    border: none;
    padding: 20px 60px;
    border-radius: 35px;
    color: #c58000;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    cursor: pointer;
    background-color: #ffe07a;
    font-weight: 800;
    box-shadow: 0px 0px 70px 15px #ddc0a294;
    &:hover {
        opacity: 100%;
        transition: opacity 0.2s;
    }
}

#dashboardContainer {
    display: flex;
    width: 100%;
    height: 100vh;
}

.dashboardContent {
    margin-left: 400px;
}

.dashboardFlexLeft {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #f8f5f999;
    height: 100%;
    position: absolute;
    z-index: 3;
}

#dashboardFlexRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

#dashboardSearchBar {
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    font-family: $poppins;
    color: #8a699f;
    z-index: 2;
    box-sizing:border-box;
    position: relative;
    font-size: 15px;
    border: none;
    opacity: 100%;
    &:hover {
        opacity: 80%;
        transition: opacity 0.2s;
    }
}

.headerH1 {
    font-size: 60px;
    font-family: $poppins !important; 
    font-weight: 600;
    color: #36264a;
    margin: 0;
}

#journalCardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    @include fadeInUpAnimation();
}

.pageBody {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    flex-direction: column;
}

::placeholder {
    color: rgb(172, 155, 190);
}

.topRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px 0 0;
    flex-direction: column;
}

.topRowFlexTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#topRowFlexBottom {
    width: 100%;
    overflow: hidden;
}

/* Viewports under 1200px wide */
@media screen and (max-width: 1200px) {
    .topRowFlexTop {
        justify-content: center;
        margin-bottom: 40px;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    #createButton {
        width: 100%;
    }
}

/* Viewports under 1000px wide */
@media screen and (max-width: 1000px) {
    
}