$lavender: #d2ceee;
$manrope: 'Manrope', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$poppins: 'Poppins', sans-serif;


.fade-in {
    
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


#dashboardPageBody {
    width: 100%;
    height: 100vh;
    background-image: url('../../images/dashboardBackground.png');
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dashboardWelcome {
    margin: 0;
}

#dashboardContainer {
    display: flex;
    width: 95%;
    height: 95vh;
}

#dashboardFlexLeft {
    width: 15%;
}

#dashboardFlexRight {
    width: 85%;
    display: flex;
    flex-direction: column;
    //background-color: white;
}

#topRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px 0 0;
    flex-direction: column;
}

#topRowFlexTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#topRowFlexBottom {
    width: 100%;
    overflow: hidden;
}

#dashboardWelcome {
    font-size: 60px;
    font-family: $poppins !important; 
    font-weight: 600;
    color: #36264a;
}

#createButton {
    opacity: 80%;
    border: none;
    padding: 20px 60px;
    border-radius: 35px;
    color: #d9900b;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    cursor: pointer;
    background-color: #ffe89f;
    font-weight: 800;
    box-shadow: 0px 0px 70px 15px #ddc0a294;
    &:hover {
        opacity: 100%;
        transition: opacity 0.2s;
    }
}

#dashboardSearchBar {
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    font-family: $poppins;
    color: #8a699f;
    z-index: 2;
    box-sizing:border-box;
    position: relative;
    font-size: 15px;
    border: none;
    opacity: 100%;
    &:hover {
        opacity: 80%;
        transition: opacity 0.2s;
    }
}

::placeholder {
    color: rgb(172, 155, 190);
}