@import '../../../dashboard/dashboardPageStyle.scss';

@mixin displayActivitiesIconBase($color, $hoverColor) {
    font-size: 50px;
    background-color: $color;
    padding: 10px;
    border-radius: 50px;
    color: white;
    margin: 0 20px;
    &:hover {
        background-color: $hoverColor;
        transition: background-color 0.2s;
    }
}

#displayActivitiesContainer {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.displayActivitiesIcon {
    @include displayActivitiesIconBase(#ccbddb, #b69dce);
}

.displayActivitiesIconDark {
    @include displayActivitiesIconBase(#b998a0, #ae6969);
}

#displayActivityLabel {
    font-family: $poppins;
    font-size: 14px;
    color: #a18fb3;
}