@import '../../pages/home/homePageStyle.scss';

#logoutButton {
    margin-right: 40px;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    color: rgb(143, 76, 182);
    cursor: pointer;
    font-family: $poppins;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    &:hover {
       color: rgb(85, 19, 122);
    }
}

#topUserBarContainer {
    background-color: #ffffff54;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    top: 0;
    position: fixed;
}

#topUserBar.scribbleTitle {
    font-size: 25px;
    margin-left: 40px;
}