@import '../../../dashboard//dashboardPageStyle.scss';

@mixin activityIconsBase($color) {
    font-size: 35px;
    color: $color;
    cursor: pointer;
    transition: color 0.2s;
}

@mixin activityLabelsBase($color) {
    font-family: $poppins;
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: $color;
    transition: color 0.2s;
}

.activityButtons {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 20px;
}

.activityIcons {
    @include activityIconsBase(#d1c6df);
    &:hover {
        color: #a262d3;
        transition: color 0.2s;
    }
}

.activityIconsSelected {
    @include activityIconsBase(#a262d3);
}

#activityIconsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.activityLabels { 
    @include activityLabelsBase(#bbb1c5);
}

.activityLabelsSelected {
    @include activityLabelsBase(#a262d3);
}

#activitiesTopRow {
    display: flex;
}

#backButton {
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: #b9a2cc;
}

#backButtonReactIcon {
    cursor: pointer;
    &:hover {
        color: #714ca1;
        transition: color 0.2s;
    }
}

#chooseActivityContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 50px;
}

/* Viewports under 1360px wide */
@media screen and (max-width: 1360px) {
    .activityIcons { font-size: 35px; }
}

/* Viewports under 1190px wide */
@media screen and (max-width: 1190px) {
    .activityIcons { font-size: 50px; }
    #chooseActivityContainer { width: 100%; }
}