@import '../../../dashboard/dashboardPageStyle.scss';

@mixin displaySubtextBase($color) {
    font-family: $quicksand;
    margin: -10px 0 20px 0;
    text-align: left;
    color: $color;
    font-size: 15px;
    width: 90%;
}

@mixin settingsInputBase($bgColor, $color) {
    width: 90%;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: $poppins;
    color: $color;
    z-index: 2;
    box-sizing:border-box;
    position: relative;
    font-size: 15px;
    border: 1px solid transparent;
    background-color: $bgColor;
    margin-bottom: 15px;
    margin-top: 10px;
}

@mixin settingsLabelsBase($color) {
    font-family: $poppins;
    text-align: left;
    margin: 0;
    font-size: 18px;
    color: $color;
}

@mixin settingsSubtitlesBase($color) {
    font-family: $poppins;
    margin: 0;
    color: $color;
    font-size: 40px;
    text-align: left;
}

@mixin themeBoxes($bgColor) {
    background-color: $bgColor;
    width: 300px;
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
}

@mixin themeCircles($background) {
    background-color: red;
    width: 40px;
    height: 40px;
    margin: 0 20px 0 10px;
    border-radius: 50px;
    background: $background;
}

@mixin themeLabels($weight) {
    font-family: $poppins;
    font-weight: $weight;
    color: #8a7d99;
    font-size: 14px;
}

.settingsInput {
   @include settingsInputBase(#ffffffb3, #8a699f);
    &:hover {
        background-color: white;
        transition: background-color 0.1s;
    }
    &:focus {
        outline: none;
        background-color: white;
        transition: background-color 0.1s;
        border: 1px solid #c9b6cb;
    }
}

.settingsInputDark {
    @include settingsInputBase(#58515bd1, #ffdcdc);
     &:hover {
         background-color: #837c86d1;
         transition: background-color 0.1s;
     }
     &:focus {
         outline: none;
         background-color: #837c86d1;
         transition: background-color 0.1s;
         border: 1px solid #c9b6cb;
     }
 }

.displaySubtext {
    @include displaySubtextBase(#8a7d99);
}

.displaySubtextDark {
    @include displaySubtextBase(#feb6b6);
}

#profile {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 20px;
}

.settingsButtonSaved {
    background-color: #c0ebc3;
    color: #4e9982;
    border: none;
    margin-left: 50px;
    padding: 12px 10px;
    width: 250px;
    border-radius: 20px;
    font-family: $quicksand;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.settingsLabels {
    @include settingsLabelsBase(#8a7d99);
}

.settingsLabelsDark {
    @include settingsLabelsBase(#ffb7b7);
}

.settingsSubtitles {
    @include settingsSubtitlesBase(#8a7d99);
}

.settingsSubtitlesDark {
    @include settingsSubtitlesBase(#ffb7b7);
}

.themeBox {
    @include themeBoxes(#ffffff8c);
    &:hover {
        background-color: white;
        transition: background-color 0.2s;
    }
}

.themeBoxDark {
    @include themeBoxes(#58515bd1);
    &:hover {
        background-color: #837c86d1;
        transition: background-color 0.2s;
    }
}

.themeBoxSelected {
    @include themeBoxes(white);
    box-shadow: 0px 0px 30px 2px #cc94da59;
}

#themeCircleDark {
    @include themeCircles(linear-gradient(180deg, rgba(222,189,230,1) 0%, rgba(255,192,192,1) 0%, rgba(159,131,148,1) 30%, rgba(97,91,119,1) 61%, rgba(60,64,91,1) 100%));
}

#themeCircleLight {
    @include themeCircles(linear-gradient(180deg, rgba(222,189,230,1) 0%, rgba(255,232,192,1) 0%, rgba(209,196,255,1) 86%, rgba(209,196,255,1) 100%));
}

#themeContainer {
    display: flex;
    width: 90%;
    justify-content: flex-start;
}

.themeLabel {
    @include themeLabels(300)
}

.themeLabelSelected {
    @include themeLabels(600)
}


/* Viewports under 1200px wide */
@media screen and (max-width: 1200px) {
    #profileAvatarDisplay {
        width: 250px;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    #profileFlexRight {
        width: 50%;
        padding-left: 40px;
    }

    #themeCircleDark, #themeCircleLight {
        margin-right: 10px;
    }

    .settingsSubtitles {
        font-size: 30px;
    }
}

/* Viewports under 1000px wide */
@media screen and (max-width: 1000px) {
    .displaySubtext, .displaySubtextDark {
        text-align: center;
    }

    #profileFlexLeft {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #profileAvatarDisplay {
        margin-left: 0;
        width: 300px;
    }

    #profileFlexRight {
        width: 100%;
        align-items: center;
        padding-left: 0px;
    }

    .settingsButton {
        margin-left: 0px;
    }

    .settingsSubtitles, .settingsSubtitlesDark {
        margin-top: 30px;
        text-align: center;
    }

    .settingsInput, .settingsInputDark {
        width: 80%;
    }

    #themeContainer {
        justify-content: center;
    }
}