@import '../dashboard/dashboardPageStyle.scss';

.arrowButton {
    font-size: 30px;
    color: #b0a4c9;
}

#closeButton {
    background-color: transparent;
    border: none;
    color: #c9b8df;
    font-size: 30px;
    font-weight: 700;
    font-family: $quicksand;
    cursor: pointer;
    &:hover {
        color: #735599;
        transition: color 0.2s;
    }
}

#closeButtonDiv {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.expandJounalArrowButtons {
    background-color: #dccde969;
    border: none;
    margin: 0;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    &:hover {
        background-color: #cdafe78a;
        transition: background-color 0.2s;
        .arrowButton {
            color: #735599;
            transition: color 0.2s;
        }
    }
}

#expandJournalContainer {
    display: flex;
    width: 100%;
    height: 100vh;
}

#expandJournalFlexLeft {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    flex-direction: column;
}

#expandJournalFlexRight {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#journalContainer {
    @include fadeInUpAnimation();
    background-color: #ffffffa8;
    width: 80%;
    margin-top: 100px;
    border-radius: 30px;
    padding: 80px 50px;
    display: flex;
}

#journalLeft {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#journalMiddle {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#journalRight {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Viewports under 1000px wide */
@media screen and (max-width: 1000px) {
    #expandJournalContainer {
        display: flex;
        flex-direction: column;
    }

    .dashboardFlexLeft {
        width: 100%;
        height: 100px;
    }

    .dashboardContent {
        margin-left: 0px;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
    }

    .topRow {
        width: 80%;
        padding: 150px 0 0 0;
    }

    #journalCardsDiv {
        margin-left: 60px;
    }
}